body{
    background-color: #ffffff;
    margin-top:20px;
	font-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    margin: 0;
    height: 100%;

}
.col-sm-10{
    padding-top: 30px;
    border: 1px ;
    background-color: #ffffff;
    overflow: scroll;
}

.title-dashboard {
    font-size:50px;
	font-family: 'Shrikhand', cursive;
	margin:10px 0 0 0;
	color:#2f2323;
}

.form{
    margin-top:3%;
}

.table-responsive {
    overflow-y: scroll;
    overflow: scroll;
    }

#Side_Menu a{
    color: #9fb1c2;
}
#Side_Menu .active a{
    color: #ffffff;
    background-color: #27AAE1;
    font-weight: bold;
}

.container-fluid{
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
}
#Side_Menu a:hover{
    color: #ffffff;
    background-color: #20B2AA;
    font-weight: bold;
    display: block;
}
#footer{
	box-shadow: 0px 1px 11px 1px rgb(148, 148, 148);
    color: #333333a1;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;

}
hr { 
    width: 76%; 
    height: 2px; 
    margin: 0 auto;
    background: #D6D6D6;
}





table.table {
    overflow-y: auto;
    overflow-x: auto;
}

